.AboutUsTitle {
  background: orange;
}


.aboutUsText {
  margin: 50px;
  background: #ffb84d;
}


.image {
  margin: 50px;
  background: white;
}


.searchbar{
  width: 50%;
  text-align:center;
    align:center;
}

.Donate{
  text-align: center;
}

.image2 {
  display: block;
    margin: auto;
    width: 80%;
}


#map {
  width:800px;
  height: 340px;
}